body{
    margin: 0%;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.contact{
    display: flex;
    justify-content: center;
    padding-right: 150px;
}


.form-container{
    padding: 128px;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}
.contact-title{
    margin-top: 50px;
    font-family: sans-serif;
    color:  rgba(0, 0, 0, 0.80);
    font-size: 20px;
}
.label-group{
    margin-bottom: 20px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.70);
    font-weight: 500;
    flex-grow: 4;
    
}
.contact-input{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    flex-grow: 4;
}
.contact-label{
    display: block;
}

.short-label{
    line-height: 15px;
    width: 200%;
}
.middle-label{
    width: 200%;
}
.big-label{
    line-height: 200px;
    width: 200%;
}
.contact-sumbit-button{
    width: 80%;
    background-color: #FA8334;
    border: 1px solid black;
    border-radius: 3px;
    line-height: 25px;
    width: 200%;
}